<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Aggregator Logins</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/css/bootstrap.min.css"></script>

</head>
<body>
<div>
    <img src="<%=user.image%>">
    <%=user.displayName%>
    <%if(user.facebook){%>
        <p>There is a facebook image</p>
        <img src="<%=user.facebook.image%>">
        <p>The last tweet</p>
        <%=user.twitter.lastPost%>
    <%}%>
        <p>I have <%=user.facebook.friends%> friends</p>
    <div>
        <ul class="social list-inline">
            <li>
                <a href="/auth/google"
                   class="<%if(user.google){%>googleplus<%}%>"><i class="fa fa-google-plus"></i></a>
                <a href="/auth/twitter"
                   class="<%if(user.twitter){%>twitter<%}%>">
                    <i class="fa fa-twitter"></i></a>
                <a href="/auth/facebook"
                   class="<%if(user.facebook){%>facebook<%}%>">
                    <i class="fa fa-facebook"></i></a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>